body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: url(Images/Adnan/black\ marble\ background.avif);
    color: wheat;
}

header{
    text-align: center;
}

#co-logo{
    margin-top: 10px;
    border-radius: 50%;

}

#website-container{
    display: flex;
    background-color: yellow;
    justify-content: center;
}

#website{
    background-color: black;
    padding: 5px 75px;
    border-radius: 14px;
    text-decoration: none;
    font-size: large;
}

#bottom-left-logo{
    margin-top: 25px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
    color: wheat;
}

#company-contacts{
    margin-top: 60px;
}

#company-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

footer{
    text-align: center;
}

#address{
    margin-top: -10px;
}
#contact{
    margin: 0 0 20px 0px;
}

#contact-info{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    list-style: none;
    margin-top: -40px
}

.contact-icon{
    height: 20px;
    width: 20px;
}

.contact-item{
    display: inline;
}

.contact-container{
    margin-bottom: 15px;
}